@resources: home, explorer, document, forums;

.backgroundImage(@img, @img2x) {
  background-image: -webkit-image-set(url(@img) 1x, url(@img2x) 2x);
  background-image: image-set(url(@img) 1x, url(@img2x) 2x);
}

.welcomePage {
  position: relative;
  width: 100%;
  padding: 60px 47px;
  .head {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 355px;
    overflow: hidden;
    background-color: #242a2e;
    .backgroundImage('../../../../../../assets/static/img/dfinity/welcome/head_bg.png', '../../../../../../assets/static/img/dfinity/welcome/head_bg@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .headBg {
      width: 100%;
      height: 100%;
      .backgroundImage('../../../../../../assets/static/img/dfinity/welcome/welcome_bg.png', '../../../../../../assets/static/img/dfinity/welcome/welcome_bg@2x.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .decorate {
      position: absolute;
      bottom: 0;
      top: 0;
      background-repeat: no-repeat;
    }
    .decorate.circle {
      width: 454px;
      right: 0;
      .backgroundImage('../../../../../../assets/static/img/dfinity/welcome/head-circle.png', '../../../../../../assets/static/img/dfinity/welcome/head-circle@2x.png');

      background-size: 100% 100%;
      background-position: right center;
    }
  }
  .divide {
    width: 100%;
    height: 1px;
    margin: 48px 0;
  }
  .first-level-title {
    margin-bottom: 48px;
    font-size: 32px;
  }
  .first-level-title-base {
    font-size: 32px;
  }
  .second-level-title {
    margin-top: 13px;
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 17px;
  }
  .ide-introduction {
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 17px;
    img {
      margin-left: 10px;
    }
  }
  .ide-resource {
    position: relative;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: rgba(32, 33, 35, 0.7);
    border-radius: 8px;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      backdrop-filter: saturate(180%) blur(20px);
      content: '';
    }

    .resource-card {
      position: relative;
      flex: 1;
      right: 1px;
      padding: 51px 20px 53px 20px;
      text-align: center;
      cursor: pointer;
      &::before {
        position: absolute;
        top: 51px;
        bottom: 53px;
        left: 0;
        width: 1px;
        background-color: #273c46;
        content: '';
      }
      &:first-child:before {
        display: none;
      }
      .cardIcon {
        width: 70px;
        height: 70px;
        cursor: pointer;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 auto;
      }
      :global {
        each(@resources, {
          .@{value} {
            .backgroundImage('../../../../../../assets/static/img/dfinity/welcome/@{value}-img.png', '../../../../../../assets/static/img/dfinity/welcome/@{value}-img@2x.png');
          }
        });
      }
      .resource-card-title {
        margin-top: 16px;
        font-size: 17px;
        line-height: 22px;
      }
      .resource-card-subtitle {
        width: 100%;
        height: 17px;
        margin-top: 10px;
        font-size: 13px;
        line-height: 17px;
      }
    }
  }

  .resource-card:hover {
    background-color: rgba(56, 78, 168, 0.7);
  }

  .template-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -55px;
    .template-card {
      width: 357px;
      height: 140px;
      margin-bottom: 24px;
      margin-left: 55px;
      padding: 24px;
      font-size: 13px;
      text-align: left;
      border-radius: 2px;
      cursor: pointer;
      .top-part {
        display: flex;
        align-items: center;
        img {
          width: 18px;
        }
        .template-name {
          width: calc(~'100% - 92px');
          padding: 0 16px;
          overflow: hidden;
          font-weight: 600;
          font-size: 14px;
          text-transform: capitalize;
          text-overflow: ellipsis;
        }
        .template-version {
          width: 50px;
          font-style: oblique;
          text-align: right;
        }
      }
      .template-desc {
        display: -webkit-box;
        height: calc(~'100% - 37px');
        overflow: hidden;
        line-height: 17px;
        margin-top: 10px;
        word-break: break-word;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -160px;
    .project-card {
      width: 268px;
      margin-bottom: 36px;
      margin-left: 160px;
      padding: 24px;
      border-radius: 2px;
      cursor: pointer;
      .project-window {
        width: 100%;
        height: 124px;
        margin-bottom: 9px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .project-card-bottom {
        display: flex;
        justify-content: space-between;
        .project-name {
          width: 50%;
          overflow: hidden;
          font-size: 13px;
          line-height: 17px;
          text-overflow: ellipsis;
        }
        .project-modify-date {
          width: 50%;
          font-size: 13px;
          line-height: 17px;
          text-align: right;
        }
      }
    }
  }
}
